@font-face {
    font-family: ReadexProRegular;
    src: url(../fonts/ReadexPro-Regular.ttf) format("truetype");
}
@font-face {
    font-family: ReadexProBold;
    src: url(../fonts/ReadexPro-Bold.ttf) format("truetype");
}
@font-face {
    font-family: ReadexProLight;
    src: url(../fonts/ReadexPro-Light.ttf) format("truetype");
}

* {
    font-family: ReadexProRegular;
    // color: #fff !important;
}
body {
    background-color: #f5f5f5;
}

.beauty-gradient {
    background-image: radial-gradient(
                    farthest-corner at 40px 40px,
                    #0c344e 0%,
                    #307eb1 100%
                  );
}

// Resource from Color Palette //
// Background Color
.bg-primary-custom
{background-color: #112B3C !important;}
.bg-secondary-custom
{background-color: #205375 !important;}
.bg-light-custom
{background-color: #EFEFEF !important;}
.bg-info-custom
{background-color: #F66B0E;}
// Font Color
.text-primary-custom
{color: #112B3C;}
.text-secondary-custom
{color: #205375;}
.text-light-custom
{color: #EFEFEF;}
.text-info-custom
{color: #F66B0E;}

.btn-primary-custom {
    color: #fff !important;
    background-color: #112B3C !important;
    border-color: #112B3C !important;
}

.btn-register {
    font-size: 13px !important;
}

.opacity-3 {
    opacity: .3;
}
.opacity-5 {
    opacity: .5;
}
.opacity-7 {
    opacity: .7;
}
// Navbar
.navbar {

    .main-logo {
        width: 200px;
        position: absolute;
    }

    .btn-register-now {
        display: inline-block;
        font-weight: 400;
        font-family: ReadexProLight;
        line-height: 1.5;
        color: #212529;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        background-color: #ffcc00;
        border: 1px solid transparent;
        padding: 0.375rem 1rem;
        font-size: 1rem;
        border-radius: 25px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

.section-1 {
    background-image: url(../img/bg-hero.png);
    background-size: cover;

    span,p {
        font-family: ReadexProLight !important;
    }

    .card-banner {
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
        &:hover {
            transform: scale(1.01);
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }
    }

    .text-animation {
        height: 60px;
        overflow: hidden;

        > div > div {
            padding: 1rem 1.75rem;
            height: 3.5rem;
            margin-bottom: 3.5rem;
            display: inline-block;
            text-transform: uppercase;
            border-radius: 40px;
        }

        div:first-child {
            animation: text-animation 7s infinite;
        }
    }

    .first div {
        background-color:#EFEFEF;
        color: #1b2c3e;
    }
    .second div {
        background-color:#F66B0E;
    }
    
    @keyframes text-animation {
        0% {margin-top: 0;}
        10% {margin-top: 0;}
        20% {margin-top: -5rem;}
        30% {margin-top: -5rem;}
        40% {margin-top: -5rem;}
        60% {margin-top: -5rem;}
        70% {margin-top: -5rem;}
        80% {margin-top: -5rem;}
        90% {margin-top: 0;}
        100% {margin-top: 0;}
    }

    .typewriter {
        width: 100%;
        // white-space: nowrap;
        overflow: hidden;
        // border-right: 4px solid #212121;
        animation: cursor 1s step-start infinite, 
        text 1.5s steps(150) alternate none;
    }
    
    @keyframes cursor {
        0%, 100% { 
        border-color: #212121; 
      }
    }
    
    @keyframes text {
        0% { 
        width: 40%; 
      }
        100% { 
        width: 100%; 
      }
    }
}

.section-2 {
    .overlay-flip-y {
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    .overlay-top {
        position: relative;
        top: -5px;
    }
}

.section-3 {

    .separator {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.3),transparent);
    }
    
    .hover-card {
        .hover-1 {
            display: block;
            position: relative;
            // max-width: 262px;
            // background-color: #f2f8f9;
            border-radius: 4px;
            // padding: 32px 24px;
            // margin: 12px;
            text-decoration: none;
            z-index: 0;
            overflow: hidden;
          
            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -16px;
                right: -55px;
                // background: #0c344e;
                background-image: radial-gradient(
                    farthest-corner at 40px 40px,
                    #0c344e 0%,
                    #307eb1 100%
                  );
                height: 35px;
                width: 70px;
                border-radius: 32px;
                transform: scale(1);
                transform-origin: 50% 50%;
                transition: transform 0.25s ease-out;
            }
          
            &:hover:before {
                transform: scale(21);
            }
        }
          
        .hover-1:hover {
            p {
                transition: all 0.3s ease-out;
                color: rgba(255, 255, 255);
                opacity: .8 !important;
            }
            h3 {
                transition: all 0.3s ease-out;
                color: #ffffff;
            }
        }
    }
}

.after-3 {
    height: 100vh;
    // color: #fff !important;
    background-color: #A3BB98;
    
    .separator {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.3),transparent);
    }
}

.section-4 {
    position: relative;
    min-height: 100vh;

    .separator {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.3),transparent);
    }

    &::before {
        content: "";
        background-image: url(../img/parallax.jpg);
        background-size: cover;
        position: absolute;
        background-attachment: fixed;
        width:100%;
        min-height:100%;
        z-index:-1;
        opacity: .3;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        
        input { 
            opacity: 0;
            width: 0;
            height: 0;

            &:checked + .slider {
                background-color: #ffcc00;
            }
            &:focus + .slider {
                box-shadow: 0 0 1px #ffcc00;
            }
            &:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
    }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffcc00;
        -webkit-transition: .4s;
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: #fff;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
      
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }  
    .slider.round:before {
        border-radius: 50%;
    }

    .pricing {
        .fs-1 {
            font-size: calc(2.25rem + 1.5vw)!important;
        }

        .separator {
            width: 100%;
            height: 2px;
            background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.1),transparent);
        }

        span {
            font-family: ReadexProLight;
        }

        li {
            font-family: ReadexProLight;
            font-size: .9rem;
        }
    }
}

.section-5 {

    .separator {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.3),transparent);
    }

    p {
        font-family: ReadexProLight;
    }

    .card-testimoni {
        border-radius: 15px;

        .card-img-top {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
            object-position: center;
            height: 220px;
        }

        button.name {
            font-family: ReadexProLight;
            font-size: 12px;

            &:disabled {
                background-color: #112B3C;
                color: #fff;
            }
        }
    }
}

.section-6 {
    background-color: #112B3C;

    .separator {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg,transparent,rgba(255, 255, 255, 0.3),transparent);
    }

    .slick-slide {
        margin: 0px 20px;

        img {
            width: 100%;
        }
    }
    
    .logo-carousel {
        overflow: inherit;
    }
    
    .slick-track {
        padding: 1rem 0;

        &::after {
            clear: both;
        }
        &::before,
        &::after {
            display: table;
            content: '';
        }
    }
    
    .slick-loading {
        .slick-track {
            visibility: hidden;
        }
        .slick-slide {
            visibility: hidden;
        }
    }
    
    .slick-slide.slick-loading {
        img {
            display: none;
        }
    }
    
    .slick-slide.dragging {
        img {
            pointer-events: none;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
        color: #fff;
        filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
        border: none;
        width: 2rem;
        height: 1.5rem;
        text-indent: -10000px;
        margin-top: -16px;
        z-index: 99;
    }
    
    .slick-arrow.slick-next {
        right: -40px;
        transform: rotate(180deg);
    }
    
    .slick-arrow.slick-prev {
        left: -40px;
    }
    
    /* Media Queries */
    
    @media (max-width: 768px) {
        .slick-arrow {
            width: 1rem;
            height: 1rem;
        }
    }
    
    body {
        background-color: #010101;
    }
        
    .row {
        overflow: hidden;
    }  
    
    /* JsFiddle Example only/don't use */
    .logo-carousel {
        margin-top: 32px;
    }
}

footer {
    .contact-text,a,span {
        font-size: 14px;
        font-family: ReadexProLight;
    }

    .separator {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(90deg,transparent,rgba(255, 255, 255, 0.2),transparent);
    }
}

@media only screen and (max-width: 567px) {
    .main-logo {
        width: 100px !important;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        flex-direction: column !important;
    }
}

@media only screen and (max-width: 767px) {
    .navbar {
        font-size: 13px;

        .navbar-nav {
            // flex-direction: row !important;
        }
    }
}

@media only screen and (min-width: 767px) {
    .navbar-nav {
        flex-direction: row !important;
    }
}