@font-face {
  font-family: ReadexProRegular;
  src: url(../fonts/ReadexPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: ReadexProBold;
  src: url(../fonts/ReadexPro-Bold.ttf) format("truetype");
}
@font-face {
  font-family: ReadexProLight;
  src: url(../fonts/ReadexPro-Light.ttf) format("truetype");
}
* {
  font-family: ReadexProRegular;
}

body {
  background-color: #f5f5f5;
}

.beauty-gradient {
  background-image: radial-gradient(farthest-corner at 40px 40px, #0c344e 0%, #307eb1 100%);
}

.bg-primary-custom {
  background-color: #112B3C !important;
}

.bg-secondary-custom {
  background-color: #205375 !important;
}

.bg-light-custom {
  background-color: #EFEFEF !important;
}

.bg-info-custom {
  background-color: #F66B0E;
}

.text-primary-custom {
  color: #112B3C;
}

.text-secondary-custom {
  color: #205375;
}

.text-light-custom {
  color: #EFEFEF;
}

.text-info-custom {
  color: #F66B0E;
}

.btn-primary-custom {
  color: #fff !important;
  background-color: #112B3C !important;
  border-color: #112B3C !important;
}

.btn-register {
  font-size: 13px !important;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-7 {
  opacity: 0.7;
}

.navbar .main-logo {
  width: 200px;
  position: absolute;
}
.navbar .btn-register-now {
  display: inline-block;
  font-weight: 400;
  font-family: ReadexProLight;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: #ffcc00;
  border: 1px solid transparent;
  padding: 0.375rem 1rem;
  font-size: 1rem;
  border-radius: 25px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.section-1 {
  background-image: url(../img/bg-hero.png);
  background-size: cover;
}
.section-1 span, .section-1 p {
  font-family: ReadexProLight !important;
}
.section-1 .card-banner {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow;
}
.section-1 .card-banner:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.section-1 .text-animation {
  height: 60px;
  overflow: hidden;
}
.section-1 .text-animation > div > div {
  padding: 1rem 1.75rem;
  height: 3.5rem;
  margin-bottom: 3.5rem;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 40px;
}
.section-1 .text-animation div:first-child {
  -webkit-animation: text-animation 7s infinite;
          animation: text-animation 7s infinite;
}
.section-1 .first div {
  background-color: #EFEFEF;
  color: #1b2c3e;
}
.section-1 .second div {
  background-color: #F66B0E;
}
@-webkit-keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5rem;
  }
  30% {
    margin-top: -5rem;
  }
  40% {
    margin-top: -5rem;
  }
  60% {
    margin-top: -5rem;
  }
  70% {
    margin-top: -5rem;
  }
  80% {
    margin-top: -5rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5rem;
  }
  30% {
    margin-top: -5rem;
  }
  40% {
    margin-top: -5rem;
  }
  60% {
    margin-top: -5rem;
  }
  70% {
    margin-top: -5rem;
  }
  80% {
    margin-top: -5rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}
.section-1 .typewriter {
  width: 100%;
  overflow: hidden;
  -webkit-animation: cursor 1s step-start infinite, text 1.5s steps(150) alternate none;
          animation: cursor 1s step-start infinite, text 1.5s steps(150) alternate none;
}
@-webkit-keyframes cursor {
  0%, 100% {
    border-color: #212121;
  }
}
@keyframes cursor {
  0%, 100% {
    border-color: #212121;
  }
}
@-webkit-keyframes text {
  0% {
    width: 40%;
  }
  100% {
    width: 100%;
  }
}
@keyframes text {
  0% {
    width: 40%;
  }
  100% {
    width: 100%;
  }
}

.section-2 .overlay-flip-y {
  transform: scaleY(-1);
}
.section-2 .overlay-top {
  position: relative;
  top: -5px;
}

.section-3 .separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3), transparent);
}
.section-3 .hover-card .hover-1 {
  display: block;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}
.section-3 .hover-card .hover-1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -55px;
  background-image: radial-gradient(farthest-corner at 40px 40px, #0c344e 0%, #307eb1 100%);
  height: 35px;
  width: 70px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.section-3 .hover-card .hover-1:hover:before {
  transform: scale(21);
}
.section-3 .hover-card .hover-1:hover p {
  transition: all 0.3s ease-out;
  color: rgb(255, 255, 255);
  opacity: 0.8 !important;
}
.section-3 .hover-card .hover-1:hover h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

.after-3 {
  height: 100vh;
  background-color: #A3BB98;
}
.after-3 .separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3), transparent);
}

.section-4 {
  position: relative;
  min-height: 100vh;
  /* Rounded sliders */
}
.section-4 .separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3), transparent);
}
.section-4::before {
  content: "";
  background-image: url(../img/parallax.jpg);
  background-size: cover;
  position: absolute;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.3;
}
.section-4 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.section-4 .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.section-4 .switch input:checked + .slider {
  background-color: #ffcc00;
}
.section-4 .switch input:focus + .slider {
  box-shadow: 0 0 1px #ffcc00;
}
.section-4 .switch input:checked + .slider:before {
  transform: translateX(26px);
}
.section-4 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffcc00;
  transition: 0.4s;
}
.section-4 .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.4s;
}
.section-4 .slider.round {
  border-radius: 34px;
}
.section-4 .slider.round:before {
  border-radius: 50%;
}
.section-4 .pricing .fs-1 {
  font-size: calc(2.25rem + 1.5vw) !important;
}
.section-4 .pricing .separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1), transparent);
}
.section-4 .pricing span {
  font-family: ReadexProLight;
}
.section-4 .pricing li {
  font-family: ReadexProLight;
  font-size: 0.9rem;
}

.section-5 .separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3), transparent);
}
.section-5 p {
  font-family: ReadexProLight;
}
.section-5 .card-testimoni {
  border-radius: 15px;
}
.section-5 .card-testimoni .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 220px;
}
.section-5 .card-testimoni button.name {
  font-family: ReadexProLight;
  font-size: 12px;
}
.section-5 .card-testimoni button.name:disabled {
  background-color: #112B3C;
  color: #fff;
}

.section-6 {
  background-color: #112B3C;
  /* Media Queries */
  /* JsFiddle Example only/don't use */
}
.section-6 .separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
}
.section-6 .slick-slide {
  margin: 0px 20px;
}
.section-6 .slick-slide img {
  width: 100%;
}
.section-6 .logo-carousel {
  overflow: inherit;
}
.section-6 .slick-track {
  padding: 1rem 0;
}
.section-6 .slick-track::after {
  clear: both;
}
.section-6 .slick-track::before, .section-6 .slick-track::after {
  display: table;
  content: "";
}
.section-6 .slick-loading .slick-track {
  visibility: hidden;
}
.section-6 .slick-loading .slick-slide {
  visibility: hidden;
}
.section-6 .slick-slide.slick-loading img {
  display: none;
}
.section-6 .slick-slide.dragging img {
  pointer-events: none;
}
.section-6 .slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: #fff;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99;
}
.section-6 .slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}
.section-6 .slick-arrow.slick-prev {
  left: -40px;
}
@media (max-width: 768px) {
  .section-6 .slick-arrow {
    width: 1rem;
    height: 1rem;
  }
}
.section-6 body {
  background-color: #010101;
}
.section-6 .row {
  overflow: hidden;
}
.section-6 .logo-carousel {
  margin-top: 32px;
}

footer .contact-text, footer a, footer span {
  font-size: 14px;
  font-family: ReadexProLight;
}
footer .separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
}

@media only screen and (max-width: 567px) {
  .main-logo {
    width: 100px !important;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-nav {
    flex-direction: column !important;
  }
}
@media only screen and (max-width: 767px) {
  .navbar {
    font-size: 13px;
  }
}
@media only screen and (min-width: 767px) {
  .navbar-nav {
    flex-direction: row !important;
  }
}/*# sourceMappingURL=style.css.map */